@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    background: url('images/background.png') center fixed; /* I made this in Canva. You'd be amazed how hard it is to find a decent background with a vaporwave aesthetic that wasn't made using AI. */
    background-size: cover;
}

h1 {
    font-weight: 500;
    color: #00BEEF;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.location {
    background: rgba(0, 0, 0, 0.95);
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid #00BEEF;
}

.location h2 {
    margin-top: 0;
    font-weight: 500;
    color: #d017a5;
    font-size: 24px;
}

.location h3 {
    font-weight: 300;
    color: #00beef;
    font-size: 14px;
    margin: 2px 0 10px;
}

.location p {
    margin: 10px 0 0;
    color: #dcdcdc;
    font-size: 16px;
}
