@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    background: url('https://imgs.search.brave.com/630WlbLjApD92ze2QJ3NXdADIl2zTRGTdM2C1rYA2f8/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzL2E1LzM5/LzMzL2E1MzkzMzU5/YjA4MmYzMjdkZGIz/M2QzZWE0NTY4Y2Yy/LmpwZw') center center fixed; /* Background image from Unsplash */
    background-size: cover;
}

h1 {
    font-weight: 500;
    color: #ff6fd8;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.location {
    background: rgba(0, 0, 0, 0.95);
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.location h2 {
    margin-top: 0;
    font-weight: 500;
    color: #8e44ad;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    font-size: 24px;
}

.location h3 {
    font-weight: 300;
    color: #ff6fd8;
    font-size: 14px;
    margin: 2px 0 10px;
}

.location p {
    margin: 10px 0 0;
    color: #dcdcdc;
    font-size: 16px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
