@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    background: url('images/background.png') center fixed; /* I made this in Canva. You'd be amazed how hard it is to find a decent background with a vaporwave aesthetic that wasn't made using AI. */
    background-size: cover;
}

h1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    font-size: 60px !important;
    color: #00BEEF;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
    text-shadow: 0 0 5px #000001, 0 0 10px #B00B69, 0 0 15px #B00B69, 0 0 20px #0099ff, 0 0 30px #1874ff, 0 0 40px #20a4f1, 0 0 55px #B00B69, 0 0 75px #6bc8f6, 2px 2px 2px rgba(0,190,239,0);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.location {
    background: rgba(0, 0, 0, 0.95);
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid #00BEEF;
}

.location h2 {
    margin-top: 0;
    font-weight: 500;
    color: #B00B69;
    font-size: 24px;
}

.location h3 {
    font-weight: 300;
    color: #00beef;
    font-size: 14px;
    margin: 2px 0 10px;
}

.location p {
    margin: 10px 0 0;
    color: #dcdcdc;
    font-size: 16px;
}

.tags {
    margin-top: 10px;
}

.tag {
    display: inline-block;
    background-color: #00BEEF;
    color: #B00B69;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    margin-right: 5px;
    margin-bottom: 5px;
}